.App {
    margin-top: 30px;
}

.form-control{
    padding: 10px;
    margin: 10px 0;
}

.close-x {
    padding: 10px;
    cursor: pointer;
}

.list_item {
    list-style: none;
}

.app-output{
    margin: 10px 0;
}